<header class="text-center">
    <h1>
        <a href="{% url 'league:season' season.slug %}">
            {{ season.season_name }}
        </a>
    </h1>
    <h5>
        {{ season.get_season_type_display }}
    </h5>
    <h6>
        +{{ season.uma_big }}
        /
        +{{ season.uma_small }}
        /
        -{{ season.uma_small }}
        /
        -{{ season.uma_big }}
        {% if season.oka is not 0 %}
            | Oka: {{ season.oka }}
        {% endif %}
    </h6>
    <h6>
        {{ season.get_scoring_display|capfirst }}
    </h6>
    {% if season.season_notes %}
    <h6>
        {{ season.season_notes }}
    </h6>
    {% endif %}
</header>