<div class="card">
    <div class="card-header text-center">
        Current Ranks
    </div>
    <div class="card-body">
        <table class="table table-hover">
        {% for rank in ranks %}
            <tr>
                <td class="text-end">
                    {{ rank.score }}
                </td>
                <td>
                    <a href="{% url 'league:player' rank.player_name.name %}">
                        {{ rank.player_name.name }}
                    </a>
                </td> 
            </tr>
        {% endfor %}
        </table>
    {% include "league/components/pagination.html" with page_obj=ranks token="rpage" %}
    </div>
</div>